<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css" />

  <style>
    @font-face {
      font-family: "Gilroy";
      src: url("{{fontBold}}");
      font-weight: bold;
    }

    @font-face {
      font-family: "Gilroy";
      src: url("{{fontLight}}");
      font-weight: lighter;
    }

    @page {
      size: 595px 842px;
      margin: 0;
    }

    @media screen {
      .page {
        page-break-after: always;
      }
    }

    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .page {
      width: 595px;
      height: 842px;
      position: relative;
      background: #fff;
    }

    .image1 {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 121px;
      height: 135px;
    }

    .image2 {
      position: absolute;
      left: 133px;
      top: 35px;
      width: 309px;
      height: 130px;
      z-index: 10;
    }

    .image3 {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 164px;
      height: 133px;
    }

    .image4 {
      position: absolute;
      width: 595px;
      height: 32px;
      left: 0px;
      bottom: 0px;
    }

    .image5 {
      position: absolute;
      width: 55px;
      height: 73px;
      left: 0px;
      top: 714px;
    }

    .image6 {
      position: absolute;
      width: 58px;
      height: 107px;
      left: 537px;
      top: 664px;
    }

    .name {
      position: absolute;
      height: 17px;
      left: 83px;
      top: 221px;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;

      color: #000000;
    }

    .date {
      position: absolute;
      height: 18px;
      left: 456px;
      top: 203px;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    .body1 {
      position: absolute;
      width: 443px;
      height: 493px;
      left: 83px;
      top: 252px;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: lighter;
      font-size: 12px;
      line-height: 14px;

      color: #000000;
    }

    .body2 {
      position: absolute;
      width: 464px;
      height: 395px;
      left: 73px;
      top: 168px;

      font-family: "Gilroy";
      font-style: normal;
      font-weight: lighter;
      font-size: 12px;
      line-height: 14px;

      color: #000000;
    }

    .red {
      color: #e01e1e;
      font-weight: bold;
    }

    .bold {
      font-weight: bold;
    }
  </style>

</head>

<body>
  <div class="page">
    <img class="image1" src="{{image1}}" />
    <img class="image2" src="{{image2}}" />
    <img class="image3" src="{{image3}}" />
    <span class="name">Hey {{firstName}}</span>
    <span class="date">{{date}}</span>
    <div class="body1">
      Welcome to the Coding Blocks Family! As an organization of repute, our
      missionis to train brains to become great coders! We have an awesome
      team of super intelligent, highly passionate & energetic SuperHeroes,
      whose mission to makeCoding Blocks grow each day, shine forever & be the
      best always.<br /><br />
      Should you choose to accept your mission, you will work as a Coding
      Blocks <span class="red">Campus SuperHero</span>. You will receive Coding Blocks Goodies from us
      when youwill complete your Roles & Responsibilities<br /></br />
      <span class="bold">Perks and Benefits:</span><br />
      1. LinkedIn Recommendations<br />
      2. Exclusive Access to Webinars<br />
      3. Cash Incentives<br />
      4. Personalized Goodies (Based on Performance)<br />
      5. Wildcraft Bags<br />
      6. Pens & Diaries<br />
      7. Stickers & sippers<br />
      8. Get a chance to be featured on Coding Blocks Blog Publication.<br />
      9. Special Discount on Coding Blocks Courses<br />
      10. 90% OFF on our courses in SuperHero Birthday Month.<br />
      11. As a part of Superhero Development Program, avail an
      opportunity to get a career guidance from Coding Blocks Mentors.<br /><br />
      <span class="bold">Roles and Responsibilities:</span><br />
      1. Be the official Campus SuperHero and student representative of Coding Blocks in your college.<br />
      2. Promote our courses and get excited incentives.<br />
      3. Introduce your peers and host programming contests on Hacker Blocks (our online coding practice
      platform).<br />
      4. Maintain relevant databases and submit monthly reports.<br />
      5. Conduct Coding Blocks Workshop/Webinars every month and programming events / online hackathon every 45 days in
      your campus, so that it will be beneficial for students.<br />
      6. Write technical/placement blogs on Coding Blocks Publication.<br />
    </div>
    <img class="image5" src="{{image5}}" />
    <img class="image6" src="{{image6}}" />
    <img class="image4" src="{{image4}}" />
  </div>
  <div class="page">
    <img class="image1" src="{{image1}}" />
    <img class="image3" src="{{image3}}" />
    <div class="body2">
      7. Explore new ideas on how Coding Blocks can assist your college<br />
      8. Introduce BOSS event of Coding Blocks in Tech Talks.<br />
      9. Associate Coding Blocks with various college societies and tech-fest organizers.<br />
      10. Start Coding Blocks Society in your college to engage students in technical workshop and help them in holistic
      growth.<br />
      11. Spread a word about YouTube Series of Coding Blocks Mentors.<br />
      12. Any other community initiative will be rewarded as well.<br />
      <br /><br />
      <span class="bold">Rules:</span><br />
      • Coding Blocks will review your performance every month and if you perform poorly for consecutive two months your
      offer will be terminated.<br />
      • Rewards will be dispatched based on your performance, end of the month.<br />
      <br /><br />
      <span class="bold">UNIQUE REFERRAL CODE</span><br />
      Your SuperHero code/unique referral code are <span class="bold">{{onlineCourseRC}}</span> for Online Course, <span
        class="bold">{{liveCourseRC}}</span> for LIVE course and <span class="bold">{{offlineCourseRC}}</span> for
      Offline Course. You can
      share this code with prospective students who want to join Coding Blocks. This code, upon usage by prospective new
      students will give you the following benefits:<br />
      <br /><br />
      <span class="bold">Offline course</span> – Rs 500 to you and Rs 1000 off to the signed-up student.<br />
      <br />
      Note: This discount is not valid during sale or in conjunction with any special promotional event. Signed up
      students cannot avail or redeem scholarship discount with the SuperHero Referral.
    </div>
    <img class="image5" src="{{image5}}" />
    <img class="image6" src="{{image6}}" />
    <img class="image4" src="{{image4}}" />
  </div>
</body>

</html>